@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center> <h1>RAISE A GLASS</h1></center>
    <center><h2>AND</h2></center>
    <center><h1>GIVE A CHEER!</h1></center>
    <p class="lead"></p>
</div>
<p>Shake it up with cocktails!</p>

<p>come join us for
drinks and desserts<br />
Saturday . June 23 . 8pm<br />
SRH Campus

</p>
<p>The reservation is open now</p>

    <div>@Html.ActionLink("List of Guest", "Index", "Guests")</div>
    <div>@Html.ActionLink("Reservation", "Create", "Guests")</div>

    